<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5">
        <div class="card-body">
          <h2 class="card-title py-3" style="float: left;">{{ title }}</h2>
          <ul class="nav list-inline py-3" style="float: right;">
            <li class="nav-item nav-link list-inline-item"><a routerLink="">History</a></li>
            <li class="nav-item nav-pills list-inline-item"><a routerLink="/save" class="nav-link active">New</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
